<div cdkDropListGroup>
    <div class="example-container">
        <h2>Available items</h2>

        <div cdkDropList [cdkDropListData]="questionList" class="example-list" cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event)">
            @for (item of questionList; track item) {
            <div class="example-box" cdkDrag>{{item.Name}}</div>
            }
        </div>
    </div>

    @for (item of imageSlider; track item; let idx = $index) {
    <div class="example-container">
        <h2>{{item.DocumentName}} -{{idx}}</h2>
        <img [src]="item.image" alt="">
        <div cdkDropList [cdkDropListData]="item.dataQ" class="example-list" (cdkDropListDropped)="drop($event)">
            @for (item2 of item.dataQ; track item2) {
            <div class="example-box" cdkDrag>{{item2.Name}}</div>

            }
        </div>
    </div>
    }
    <!-- <div class="example-container">
        <h2>Shopping basket</h2>

        <div cdkDropList [cdkDropListData]="basket2" class="example-list" (cdkDropListDropped)="drop($event)">
            @for (item of basket2; track item) {
            <div class="example-box" cdkDrag>{{item}}</div>
            }
        </div>
    </div> -->
</div>