<div class="container-fluid position-relative" id="parent">
    <div class="row" id="rows">
        <div class="col-md-3 border-primary" id="drag-zone">
            <div class="scrollable" id="drag-zone-list">

                <div class="container" id="signer-info">
                    <div class="row" id="sign-info-row">
                        @for (signer of participant_arr; track signer; let i = $index) {
                        <div class="col-md-12" id="signer-info-list">
                            <div class="bg-light" id="signer-infor">
                                <div class='box' [ngStyle]="{'background-color' : signer.color}"
                                    (click)="selectedParticipant(i)" id="signer-color"></div>
                                {{signer.participnt}}
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div id="selected-signer">
                    <div id="selected-part">

                        Selected Participant :
                    </div>
                    <div *ngIf="finalSelected && finalSelected.participnt" class='box'
                        [ngStyle]="{'background-color' : finalSelected.color}" id="selected-part-color"></div>
                    {{finalSelected.participnt ?? 'None Selected'}}
                </div>
                ----------------------------------------------------
                <div id="question-list">
                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="questionList"
                        [cdkDropListConnectedTo]="[value]" class="example-list" (cdkDropListDropped)="drop($event)">
                        @for (item of questionList; track item) {
                        <div class="example-box" cdkDrag>{{item.Name}}</div>
                        }
                    </div>
                    @for (ques of questionList; track ques; let i = $index) {
                    <div class="col-md-12" id="question-list-data">
                        <div class="bg-light" id="question-list-val">
                            <div class="field pointer shadow-bg" [dndDraggable]="ques" [dndEffectAllowed]="'copy'"
                                (dndEnd)="onDragEnd($event, ques)" id="question">
                                <h5>{{ques.Name}}</h5>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9 border-secondary bg-primary" id="tag22">
            <div class="container bg-light scrollable-div" id="drop-zone">
                @for (img of imageSlider; track img; let i = $index) {
                <section class="dndDropArea image-section" style="border: 2px solid green;" dndDropzone
                    id="drop-zone-sect" (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event, i)">
                    <img [src]="img.image" alt="" id="drop-zone-sect-img">
                </section>
                }
            </div>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of done; track item) {
                <div class="example-box" cdkDrag>{{item}}</div>
                }
            </div>
        </div>
    </div>
    <div class='box position-absolute' [ngStyle]="{'background-color' : 'red'}" style="top: 593px; left: 1508px;"
        id="signer-color">
    </div>
</div>